# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# JetBrains Rider
.idea/
*.sln.iml

# SQLite database file - comment this out if you want to include it in your repo
*.db
*.sqlite
*.db-shm
*.db-wal
coachingWebapp/wwwroot/Testimonials/testimonial_1.mp4
coachingWebapp/wwwroot/Testimonials/testimonial_2.mp4
coachingWebapp/wwwroot/Testimonials/testimonial_3.mp4
coachingWebapp/wwwroot/Testimonials/adventure.mp4
coachingWebapp/wwwroot/Testimonials/coming-soon.mp4
coachingWebapp/wwwroot/Videos/adventure.mp4
coachingWebapp/wwwroot/Videos/car-driving-mountain.mp4
coachingWebapp/wwwroot/Videos/coming-soon.mp4
coachingWebapp/wwwroot/Images/services/life-coaching/clarity-direction.jpg
coachingWebapp/wwwroot/Images/services/life-coaching/driven-life.jpg
coachingWebapp/wwwroot/Images/services/life-coaching/goals.jpg
coachingWebapp/wwwroot/Videos/adventure720p.mp4
coachingWebapp/wwwroot/Images/services/life-coaching/remove-blocks.jpg
coachingWebapp/wwwroot/Images/services/life-coaching/reframe-limits.jpg
coachingWebapp/wwwroot/Images/services/life-coaching/reconnect.jpg
coachingWebapp/wwwroot/Images/services/life-coaching/map-future.jpg
coachingWebapp/wwwroot/Images/services/life-coaching/life-coaching.jpg
coachingWebapp/wwwroot/Images/services/life-coaching/health-wellness.jpg
coachingWebapp/wwwroot/Testimonials/testimonial_Erica.mp4
coachingWebapp/wwwroot/Testimonials/testimonial_Fi.mp4
coachingWebapp/wwwroot/Testimonials/testimonial_Laviniah.mp4
coachingWebapp/wwwroot/Testimonials/testimonial_Monica.mp4
coachingWebapp/wwwroot/Testimonials/testimonial_Neuza.mp4
coachingWebapp/wwwroot/Testimonials/testimonial_Yannick.mp4
coachingWebapp/wwwroot/Images/services/career-coaching/cv-review.jpg
coachingWebapp/wwwroot/Images/services/career-coaching/goals-progression.jpg
coachingWebapp/wwwroot/Images/services/career-coaching/interview-preparation.jpg
coachingWebapp/wwwroot/Images/services/career-coaching/work-life-balance.jpg
coachingWebapp/wwwroot/Files/Reclaim & Regain Inner  Peace - Ítala Veloso.pdf
coachingWebapp/wwwroot/Files/Stress Free - Itala Veloso.pdf
coachingWebapp/wwwroot/Files/coachingblazorapp-da1066a68c16.json
coachingWebapp/wwwroot/Images/italaHeroTransparent.png
coachingWebapp/wwwroot/Images/services/regulatory-training/nutrition-health-claims.jpg
coachingWebapp/wwwroot/Images/services/regulatory-training/labelling.jpg
coachingWebapp/wwwroot/Images/services/regulatory-consulting/regulation-interpretation.jpg
coachingWebapp/wwwroot/Images/services/regulatory-consulting/pack-copy-labeling.jpg
coachingWebapp/wwwroot/Images/services/regulatory-consulting/marketing-material-compliance.jpg
coachingWebapp/wwwroot/Images/services/regulatory-consulting/label-translation.jpg
coachingWebapp/wwwroot/Images/services/regulatory-consulting/import-export-compliance.jpg
coachingWebapp/wwwroot/Images/services/regulatory-consulting/hfss-compliance.jpg
coachingWebapp/wwwroot/Images/services/regulatory-consulting/formulation-check.jpg
coachingWebapp/wwwroot/Videos/itala-baptism.mp4
coachingWebapp/wwwroot/Images/services/free-resources/resource1.png
coachingWebapp/wwwroot/Images/services/free-resources/resource2.jpg
coachingWebapp/wwwroot/Files/Reclaim & Regain Inner  Peace - Itala Veloso.pdf
coachingWebapp/wwwroot/Files/Master Your 2025: Be Fearless - Itala Veloso.pdf
coachingWebapp/wwwroot/Files/file1.pdf
coachingWebapp/wwwroot/Files/file2.pdf
coachingWebapp/wwwroot/Images/services/career-coaching/feedback.jpg
coachingWebapp/wwwroot/Images/services/life-coaching/inner-peace.jpg
coachingWebapp/wwwroot/Images/services/life-coaching/reconnect-self.jpg
coachingWebapp/wwwroot/Images/services/regulatory-consulting/artwork-label-check.jpg
coachingWebapp/wwwroot/Images/services/regulatory-training/label-translation.jpg
coachingWebapp/wwwroot/Testimonials/testimonial_Fran.mp4
coachingWebapp/wwwroot/backup/Images/Android.png
coachingWebapp/wwwroot/backup/Images/artwork-label-check.jpg
coachingWebapp/wwwroot/backup/Images/clarity-direction.jpg
coachingWebapp/wwwroot/backup/Images/cv-review.jpg
coachingWebapp/wwwroot/backup/Images/driven-life.jpg
coachingWebapp/wwwroot/backup/Images/feedback.jpg
coachingWebapp/wwwroot/backup/Images/formulation-check.jpg
coachingWebapp/wwwroot/backup/Images/goals-progression.jpg
coachingWebapp/wwwroot/backup/Images/goals.jpg
coachingWebapp/wwwroot/backup/Images/health-wellness.jpg
coachingWebapp/wwwroot/backup/Images/hfss-compliance.jpg
coachingWebapp/wwwroot/backup/Images/iconI.png
coachingWebapp/wwwroot/backup/Images/import-export-compliance.jpg
coachingWebapp/wwwroot/backup/Images/inner-peace.jpg
coachingWebapp/wwwroot/backup/Images/interview-preparation.jpg
coachingWebapp/wwwroot/backup/Images/italaHeroTransparent.png
coachingWebapp/wwwroot/backup/Images/label-translation.jpg
coachingWebapp/wwwroot/backup/Images/labelling.jpg
coachingWebapp/wwwroot/backup/Images/life-coaching.jpg
coachingWebapp/wwwroot/backup/Images/logo-no-background.png
coachingWebapp/wwwroot/backup/Images/logoExtended.png
coachingWebapp/wwwroot/backup/Images/logotipo.png
coachingWebapp/wwwroot/backup/Images/map-future.jpg
coachingWebapp/wwwroot/backup/Images/marketing-material-compliance.jpg
coachingWebapp/wwwroot/backup/Images/nutrition-health-claims.jpg
coachingWebapp/wwwroot/backup/Images/pack-copy-labeling.jpg
coachingWebapp/wwwroot/backup/Images/reconnect-self.jpg
coachingWebapp/wwwroot/backup/Images/reframe-limits.jpg
coachingWebapp/wwwroot/backup/Images/regulation-interpretation.jpg
coachingWebapp/wwwroot/backup/Images/remove-blocks.jpg
coachingWebapp/wwwroot/backup/Images/resource1.png
coachingWebapp/wwwroot/backup/Images/resource2.jpg
coachingWebapp/wwwroot/backup/Images/work-life-balance.jpg
coachingWebapp/wwwroot/backup/Testimonials/testimonial_Erica.mp4
coachingWebapp/wwwroot/backup/Testimonials/testimonial_Fi.mp4
coachingWebapp/wwwroot/backup/Testimonials/testimonial_Fran.mp4
coachingWebapp/wwwroot/backup/Testimonials/testimonial_Laviniah.mp4
coachingWebapp/wwwroot/backup/Testimonials/testimonial_Monica.mp4
coachingWebapp/wwwroot/backup/Testimonials/testimonial_Neuza.mp4
coachingWebapp/wwwroot/backup/Testimonials/testimonial_Yannick.mp4
coachingWebapp/wwwroot/backup/Videos/adventure.mp4
coachingWebapp/wwwroot/backup/Videos/car-driving-mountain.mp4
coachingWebapp/wwwroot/backup/Videos/itala-baptism.mp4
coachingWebapp/wwwroot/Videos/adventure_low.mp4
coachingWebapp/wwwroot/Videos/adventure_medium.mp4
coachingWebapp/wwwroot/Videos/adventure_poster.jpg
coachingWebapp/wwwroot/Videos/car-driving-mountain_high.mp4
coachingWebapp/wwwroot/Videos/car-driving-mountain_low.mp4
coachingWebapp/wwwroot/Videos/car-driving-mountain_medium.mp4
coachingWebapp/wwwroot/Videos/itala-baptism_low.mp4
coachingWebapp/wwwroot/Videos/itala-baptism_medium.mp4
coachingWebapp/wwwroot/Videos/testimonial_Erica_low.mp4
coachingWebapp/wwwroot/Videos/testimonial_Erica_medium.mp4
coachingWebapp/wwwroot/Videos/testimonial_Erica_poster.jpg
coachingWebapp/wwwroot/Videos/testimonial_Fi_low.mp4
coachingWebapp/wwwroot/Videos/testimonial_Fi_medium.mp4
coachingWebapp/wwwroot/Videos/testimonial_Fi_poster.jpg
coachingWebapp/wwwroot/Videos/testimonial_Fran_low_old.mp4
coachingWebapp/wwwroot/Videos/testimonial_Fran_low.mp4
coachingWebapp/wwwroot/Videos/testimonial_Fran_medium_old.mp4
coachingWebapp/wwwroot/Videos/testimonial_Fran_medium.mp4
coachingWebapp/wwwroot/Videos/testimonial_Fran_poster.jpg
coachingWebapp/wwwroot/Videos/testimonial_Laviniah_low.mp4
coachingWebapp/wwwroot/Videos/testimonial_Laviniah_medium.mp4
coachingWebapp/wwwroot/Videos/testimonial_Laviniah_poster.jpg
coachingWebapp/wwwroot/Videos/testimonial_Monica_low.mp4
coachingWebapp/wwwroot/Videos/testimonial_Monica_medium.mp4
coachingWebapp/wwwroot/Videos/testimonial_Monica_poster.jpg
coachingWebapp/wwwroot/Videos/testimonial_Neuza_low.mp4
coachingWebapp/wwwroot/Videos/testimonial_Neuza_medium.mp4
coachingWebapp/wwwroot/Videos/testimonial_Neuza_poster.jpg
coachingWebapp/wwwroot/Videos/testimonial_Yannick_low.mp4
coachingWebapp/wwwroot/Videos/testimonial_Yannick_medium.mp4
coachingWebapp/wwwroot/Videos/testimonial_Yannick_poster.jpg
