<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="icon" type="image/png" href="/Images/Android.png" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/services.css" />
    <link rel="stylesheet" href="/css/resources.css" />
    <link rel="stylesheet" href="/css/case-studies.css" />
    <link rel="stylesheet" href="/css/adminSession.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">  
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/main.min.css" rel="stylesheet" />
   
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <HeadOutlet />
</head>

<body>
    <MainVideo /> @* Added from home.razor cause it was rendering twice *@

    <Routes />
    <script src="/js/FullCalendar/index.global.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/videoInterop.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/calendar.js"></script>
    
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
