<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="icon" type="image/png" href="/Images/Android.png" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/services.css" />
    <link rel="stylesheet" href="/css/resources.css" />
    <link rel="stylesheet" href="/css/case-studies.css" />
    <link rel="stylesheet" href="/css/admin-session.css" />
    <link rel="stylesheet" href="/css/privacy-policy.css" />
    <link rel="stylesheet" href="/css/terms-and-conditions.css" />
    <link rel="stylesheet" href="/css/faqs.css" />
    <link rel="stylesheet" href="/css/process.css" />
    <link rel="stylesheet" href="/css/account.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/userDashboard.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">  
   
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/Heron.MudCalendar/Heron.MudCalendar.min.css" rel="stylesheet" />

    <HeadOutlet />
</head>

<body>
    <MainVideo /> @* Added from home.razor cause it was rendering twice *@

    <Routes />
    <script src="/js/app.js"></script>
    <script src="/js/videoInterop.js"></script>
    <script src="/js/calendar.js"></script>
    <script src="/js/videoCall.js"></script>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/Heron.MudCalendar/Heron.MudCalendar.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
