<MudDialog>
    <TitleContent>
        Compose Email
    </TitleContent>
    <DialogContent>
        <MudTextField Label="Subject" @bind-Value="EmailSubject" Required="true" />
        <MudTextField Label="Body" @bind-Value="EmailBody" Required="true" Lines="25" TextArea="true" />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close" Variant="Variant.Text">Cancel</MudButton>
        <MudButton OnClick="SendEmails" Color="Color.Primary" Variant="Variant.Filled" Disabled="@IsSending">
            @if (IsSending)
            {
                <MudProgressCircular Size="Size.Small" Color="Color.Inherit" Indeterminate="true" />
            }
            else
            {
                <span>Send</span>
            }
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private IMudDialogInstance MudDialog { get; set; }
    [Parameter] public List<string> RecipientEmails { get; set; }
    private string EmailSubject { get; set; }
    private string EmailBody { get; set; }
    private bool IsSending { get; set; } = false;

    private async Task SendEmails()
    {
        IsSending = true;

        try
        {
            await EmailSubscriptionService.SendCustomEmailAsync(RecipientEmails, EmailSubject, EmailBody);
            MudDialog.Close(DialogResult.Ok(true));      
        }
        catch (Exception ex)
        {
            MudDialog.Close(DialogResult.Ok(false));   
        }
        finally
        {
            IsSending = false;
        }
    }

    private void Close() => MudDialog.Close(DialogResult.Cancel());
}
