@page "/account"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<div>
    <h1>Account Page</h1>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }
}