@page "/account"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<section id="accout">
    <div class="dashboard-header">
        <div>
            <h1><span class="highlight">Account</span></h1>  
    
        </div>
    </div>
</section>

@code {
    protected override async Task OnInitializedAsync()
    {

    }
}