@page "/resources/coming-soon"

@rendermode InteractiveServer

<PageTitle>Coming soon | Ítala Veloso</PageTitle>

<section class="coming-soon-section" id="video">
    <video autoplay muted loop playinline>
        <source src="/Videos/coming-soon.mp4" type="video/mp4">
        Your browser does not support the video tag mp4.
    </video>
</section>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ScrollService.ScrollToTop();
    }
}