@page "/resources/coming-soon"

@rendermode InteractiveServer

<PageTitle>@pageTitle</PageTitle>

<section id="coming-soon-video">
    <video autoplay muted loop playinline class="coming-soon-video">
        <source src="https://italaveloso.com/Videos/coming-soon.mp4" type="video/mp4">
        Your browser does not support the video tag mp4.
    </video>
</section>

@code {
    private string pageTitle = "Coming soon | Ítala Veloso";
}