@rendermode InteractiveServer

@inject ILogger<Home> Logger

@using BusinessLayer.Services.Interfaces
@using ModelLayer
@using ModelLayer.Models
@using global::coachingWebapp.Components.Pages

<section id="footer">
    <hr>
    <div class="footer-container">
        <div class="footer-section">
            <div>
                <h4>Let's Connect</h4>
                <p class="footer-tagline">Follow us for daily self-discovery tips, overcoming trauma, and nurturing mental health, peace, and self-love</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/italaveloso.coaching/" target="_blank" aria-label="Facebook"><i class="fa-brands  fa-facebook"></i></a>
                    <a href="https://x.com/itala_veloso" target="_blank" aria-label="X"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/italaveloso.coaching/" target="_blank" aria-label="Instagram"><i class="fa-brands  fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/italaveloso/" target="_blank" aria-label="LinkedIn"><i class="fa-brands  fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/@@italaveloso.coaching" target="_blank" aria-label="Discord"><i class="fa-brands  fa-youtube"></i></a>
                    <a href="https://www.meetup.com/members/222668406/" target="_blank" aria-label="Meetup"><i class="fa-brands fa-meetup"></i></a>
                    <a href="https://www.tiktok.com/@@italaveloso.coaching" target="_blank" aria-label="TikTok"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
            <div class="disclaimer-info">
                <h4>Disclaimer</h4>
                <p> Results vary for each individual and are not guaranteed. Our coaching and resources are designed for educational and informational purposes only and are not a "quick fix" solution. Success depends on your effort, commitment, accountability, and ability to follow guidance. Testimonials shared on this site reflect individual experiences and may not be typical. While our tools and strategies aim to support growth and transformation, outcomes depend on personal determination and action.</p>
            </div>
        </div>
        <div class="footer-section newsletter-section">
            <div>
                <h4>Newsletter</h4>
                <p class="newsletter-tagline">Stay tuned and join our break through, break free newsletter</p>
                    <EditForm Model="@emailSubscription" OnValidSubmit="SubscribeToNewsLetter" FormName="emailSubscriptionForm">
                            <DataAnnotationsValidator />
                            
                            @if (isSubscribing)
                            {
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <p>Subscribing...</p>
                                </div>
                            }
                            else
                            {
                                <div class="row g-2 align-items-center">
                                    <div class="col">
                                        <div class="newsletter-form">
                                            <InputText id="email" class="form-control" @bind-Value="emailSubscription.Email" placeholder="Enter your email" />
                                            <button type="submit" class="btn btn-primary">Subscribe</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ValidationMessage For="@(() => emailSubscription.Email)" class="text-danger" />
                                    </div>
                                </div>
                                <p class="privacy-notice">By subscribing, you’re agreeing to receive marketing emails from Ítala Veloso. You can unsubscribe at any time. For more details, check out our <a href="/privacy-policy">Privacy Policy</a>.</p>
                            }
                        </EditForm>

                @if (!string.IsNullOrEmpty(subscriptionMessage) && !subscriptionSuccess)
                {
                    <div class="alert alert-danger mt-3" role="alert">
                        @subscriptionMessage
                    </div>
                }
                    
                @if (subscriptionSuccess)
                {
                    <div class="alert alert-success" role="alert">
                        @subscriptionMessage
                    </div>
                }
            </div>
        </div>
        <div class="footer-section">
            <div class="quick-links">
                <h4>Quick Access</h4>
                <nav aria-label="Footer navigation">
                    <ul class="footer-nav">
                        <li><a href="/about/meet-itala">About</a></li>
                        <li><a href="/services/coaching/life-coaching">Life Coaching</a></li>
                        <li><a href="/services/coaching/career-coaching">Career Coaching</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </nav>
            </div>
            <div class="contact-info">
                <h4>Get in Touch</h4>
                @* <p class="footer-tagline">Have a question?</p> *@
                <p><i class="fas fa-envelope"></i> jostic@italaveloso.com</p>
            </div> 
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; @currentYear Ivan Cristiano Oliveira Sousa Dias, nº 2434 — Projeto Académico – Ano letivo 2024-2025
            <a href="https://github.com/ivandiaswr/coaching-blazor-webapp" target="_blank" class="github-link">
                <i class="fab fa-github"></i> View on GitHub
            </a>
        </p>
    </div>
</section>

@code {
    private string currentYear = DateTime.Now.Year.ToString();
    private EmailSubscription emailSubscription = new EmailSubscription();
    private string subscriptionMessage;
    private bool subscriptionSuccess = false;
    private bool isSubscribing = false;

    private async Task SubscribeToNewsLetter()
    {
        Logger.LogInformation("SubscribeToNewsLetter method called");
        if (!string.IsNullOrWhiteSpace(emailSubscription.Email))
        {
            await InvokeAsync(() =>
            {
                isSubscribing = true;
                StateHasChanged();
            });

            try
            {
                Logger.LogInformation($"Attempting to subscribe with email: {emailSubscription.Email}");

                var result = await EmailSubscriptionService.SubscriptionAsync(emailSubscription);

                await InvokeAsync(() =>
                {
                    subscriptionSuccess = result;
                    subscriptionMessage = result ? "Thank you! Your submission has been received!" : "Subscription failed. Please try again or contact support.";

                    if (result) 
                    {
                        emailSubscription = new EmailSubscription();  // Reset the form
                    }

                    StateHasChanged();
                });

                Logger.LogInformation($"Subscription result: {result}");
            }
            catch (Exception ex)
            {
                await InvokeAsync(() =>
                {
                    subscriptionMessage = "An error occurred. Please try again later.";
                    StateHasChanged();
                });

                Logger.LogError(ex, "Error during subscription");
            }
            finally
            {
                await InvokeAsync(() =>
                {
                    isSubscribing = false;
                    StateHasChanged();
                });
            }
        }

        Logger.LogInformation("SubscribeToNewsLetter method completed");
    }

    protected override void OnInitialized()
    {
        //Console.WriteLine("Index page initialized");
    }

    protected override void OnParametersSet()
    {
        //Console.WriteLine("Index page parameters set");
    }

}