@page "/UserDashboard"

<section id="userDashboard">
    <div class="dashboard-header">
        <div>
            <h1><span class="highlight">Dashboard</span></h1>  
    
        </div>
    </div>
</section>