@inject NavigationManager Navigation

<div class="container-header">
    <div class="header-content">
        <div class="logo">
            <NavLink class="nav-link" href="/" @onclick="RefreshPage" Match="NavLinkMatch.All" alt="Home">
                <img src="Images/logotipo.png">
            </NavLink>
        </div>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        <nav>
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <ul class="nav-ul">
                <li>
                    <NavLink class="nav-li" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="dropdown">
                    <NavLink class="nav-li" href="services">
                        Services <i class="fa-solid fa-chevron-down arrow"></i>
                    </NavLink>
                  <ul class="dropdown-content">
                        <li class="dropdown-section-title">Coaching Services</li>
                        <li><a href="services/life-coaching"><i class="fas fa-heart"></i> Life Coaching</a></li>
                        <li><a href="services/career-coaching"><i class="fas fa-briefcase"></i> Career Coaching</a></li>
                        <li><a href="services/wellness-coaching"><i class="fas fa-spa"></i> Wellness Coaching</a></li>
                        <li><hr></li>
                        <li class="dropdown-section-title">Regulatory Services</li>
                        <li><a href="services/compliance"><i class="fas fa-gavel"></i> Compliance Consulting</a></li>
                        <li><a href="services/regulatory-strategy"><i class="fas fa-cogs"></i> Regulatory Strategy</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <NavLink class="nav-li" href="about">
                        About <i class="fa-solid fa-chevron-down arrow"></i>
                    </NavLink>
                    <ul class="dropdown-content">
                        <li><a href="about/our-story"><i class="fas fa-book-open"></i>About Jostic</a></li>
                        <li><a href="about/our-story"><i class="fas fa-book-open"></i>Meet Ítala</a></li>
                        <li><a href="about/team"><i class="fas fa-users"></i>Our Team</a></li>
                        <li><a href="about/testimonials"><i class="fas fa-comments"></i>FAQ</a></li>
                    </ul>
                </li>
                <li>
                    <NavLink class="nav-li" href="#contact">
                        Contact
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
</div>

@code {
    private void RefreshPage(){
        Navigation.NavigateTo("/#hero", forceLoad: true);
    }
}