@inject NavigationManager Navigation

<div class="container-header">
    <div class="header-content">
        <div class="social-icons">
            <a href="https://www.facebook.com/italaveloso.coaching/" target="_blank" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/itala_veloso" target="_blank" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/italaveloso.coaching/" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/italaveloso/" target="_blank" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.youtube.com/@@italaveloso.coaching" target="_blank" aria-label="Discord"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.meetup.com/members/222668406/" target="_blank" aria-label="Meetup"><i class="fa-brands fa-meetup"></i></a>
            <a href="https://www.tiktok.com/@@italaveloso.coaching" target="_blank" aria-label="TikTok"><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <div class="center-content">
            <NavLink class="name-logo" href="/" Match="NavLinkMatch.All">
                @*<span class="colored-initial">J</span>ourney <span class="colored-initial">O</span>f <span class="colored-initial">S</span>urvivors <span class="colored-initial">T</span>urned <span class="colored-initial">I</span>nto <span class="colored-initial">C</span>onquerors*@
                ÍTALA VELOSO
            </NavLink>
        </div>
        <button class="mobile-menu-btn" aria-label="Toggle menu">
            <i class="fas fa-bars"></i>
        </button>
        <nav>
            <ul class="nav-ul">
                <li class="dropdown">
                    <a class="nav-li">
                        About <i class="fa-solid fa-chevron-down arrow"></i>
                    </a>
                    <ul class="dropdown-content">
                        <li><a href="/about/meet-itala">Meet Ítala</a></li>
                        <li><a href="about/team">The Process</a></li>
                        <li><a href="about/testimonials">FAQ</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="nav-li">
                        Services <i class="fa-solid fa-chevron-down arrow"></i>
                    </a>
                    <ul class="dropdown-content">
                        <li class="dropdown-section-title">Coaching Services</li>
                        <li><a href="services/coaching/life-coaching">Life Coaching</a></li>
                        <li><a href="services/coaching/career-coaching">Career Coaching</a></li>
                        <li><a href="services/coaching/case-studies">Case Studies</a></li>
                        <li><hr></li>
                        <li class="dropdown-section-title">Regulatory Services</li>
                        <li><a href="services/regulatory/consulting">Regulatory Consulting</a></li>
                        <li><a href="services/regulatory/training">Training </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="nav-li">
                        Resources <i class="fa-solid fa-chevron-down arrow"></i>
                    </a>
                    <ul class="dropdown-content">
                        <li><a href="/resources/free">Free Guides</a></li>
                    </ul>
                </li>
                <li>
                    <NavLink class="nav-li" href="/resources/coming-soon">
                        Books
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-li" href="/resources/coming-soon">
                        Podcast
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-li" href="#contact">
                        Contact
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
</div>